* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #111;
  color: white;
}

.header a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 80vh; /* height of hero section */
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center;     /* horizontal center */
  text-align: center;
  padding: 0 20px;

  background: url("images/hero.jpg") center/cover no-repeat;
  color: white;
}
.hero h1 {
  color: black;   /* Changed text color to black */
  font-size: 42px;
  margin-bottom: 15px;
}

.hero p {
  margin: 15px 0 25px;
  font-size: 18px;
}

.hero button {
  padding: 12px 30px;
  border: none;
  background-color: #ff4d4d;
  color: white;
  cursor: pointer;
}



.hero h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero button {
  padding: 12px 30px;
  border: none;
  background-color: #ff4d4d;
  color: white;
  cursor: pointer;
}

/* PRODUCTS */
.products {
  padding: 60px 40px;
  text-align: center;
}

.product-box {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.card {
  width: 30%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 8px;
}

/* ABOUT */
.about {
  padding: 60px 40px;
  background-color: #f9f9f9;
  text-align: center;
}

/* FOOTER */
.footer {
  padding: 20px;
  text-align: center;
  background-color: #111;
  color: white;
}
